*{
    margin: 0;
    padding: 0;
    font-family: sata;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;

}

:root{
    --prime-color : #55e5a4;
    --bg-color:#151c25;
    --text-color: #a9a9a9;
}


/* General Settings  */

button{
    padding: 10px 15px;
    border-radius: 7px;
    background-color: #55e5a4;
    color: var(--bg-color);
    border: none;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    
}

.btn2{
    background-color: transparent;
    color: #55e5a4;
    border: 1px solid #55e5a4;
}

.btn2:hover{
    background-color: #55e5a4;
    color: #151c25;
    border:none;
}

button:hover{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: background 0.6s;
}

body{
    background-color: var(--bg-color);
    
}